<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yty.dao.ProductMapper">
    <resultMap id="productMap" type="com.yty.entity.Product">
        <id column="pk_id" property="id"/>
        <result property="img" column="idx_image"/>
        <result property="price" column="idx_price"/>
        <result property="oldPrice" column="idx_oldPrice"/>
        <result property="title" column="idx_name"/>
        <result property="subtitle" column="idx_subtitle"/>
        <result property="shopId" column="idx_shopid"/>
        <result property="category" column="idx_category"/>
        <result property="sellCount" column="idx_sellcount"/>
        <result property="repertory" column="idx_repertory"/>
        <result property="status" column="idx_status"/>
    </resultMap>
    <select id="getProduct" resultMap="productMap" parameterType="java.lang.String">
        select *
        from t_goods
        where pk_id = #{id}
    </select>

    <select id="getProductList" resultMap="productMap" parameterType="java.lang.String">
        select *
        from t_goods
        where idx_category_id = #{id};
    </select>
    <select id="checkLookup" parameterType="java.lang.String" resultType="java.lang.String">
        select pk_id
        from t_history_watch
        where idx_goods_id = #{goodsId}
          and idx_email = #{email}
    </select>
    <update id="updateLookup" parameterType="java.lang.String">
        update t_history_watch
        set idx_date=#{date}
        where idx_goods_id = #{goodsId}
          and idx_email = #{email};
    </update>
    <insert id="insertLookup" parameterType="java.lang.String">
        insert into t_history_watch
            (idx_date, idx_goods_id, idx_email)
        values (#{date }, #{goodsId}, #{email})
    </insert>

    <select id="getAllLookup" parameterType="java.lang.String" resultMap="productMap">
        select a.*, b.idx_date
        from t_goods a
                 INNER JOIN t_history_watch b
                            on b.idx_goods_id = a.pk_id and b.idx_email = #{email}
        ORDER BY b.idx_date desc
    </select>

    <insert id="addGoods" parameterType="com.yty.entity.Product">
        insert into t_goods
        (idx_image, idx_price, idx_name, idx_subtitle, idx_shopid, idx_category, idx_repertory, idx_status)
        values (#{img}, #{price}, #{title}, #{subtitle}, #{shopId}, #{category}, #{repertory}, #{status})
    </insert>

</mapper>